* {
  margin: 0;
  padding: 0;
}

.border-elements {
  border: 0.5px solid black;
}

.img-styling {
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
}

#container {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  & h2,
  h4,
  p {
    margin: 0 0 25px;
  }
}

/* .photo-box {
  max-width: 300px;
} */

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  gap: 5px;
}

/* Style for the text inputs */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style for the submit button */
button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}
